.profile {
  border: 1px solid #000000;
  border-radius: 6px;
  margin: 0 auto;
  width: 400px;
  background-color: #ffffff;
  overflow: hidden;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 20px;
}

.avatar {
  border-radius: 50%;
  width: 130px;
  height: 130px;
  background-color: #272727;
}

.name {
  font-weight: bold;
  font-size: 24px;
  color: #000000;
  margin-block-start: 15px;
  margin-block-end: 15px;
}

.details {
  color: #6b6a6a;
  margin-block-end: 5px;
  margin-block-start: 5px;
}

.statsList {
  list-style: none;
  background-color: rgb(166, 164, 164);
  display: flex;
  padding-left: 0;
  color: #000000;
  margin: 0;
}

.stats {
  border-top: 1px solid #828282;
  border-right: 0.5px solid #828282;
  border-left: 0.5px solid #828282;
  width: calc(100% / 3);
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  padding-top: 15px;
  padding-bottom: 15px;
  align-items: center;
}

.statsNumber {
  font-weight: bold;
}
